* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug * {
  border: dotted 1px black;
}

.main-container {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
}

.nav-container {
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: green;
}

.logo {
  height: 70px;
  min-width: 110px;
  background-color: #00FF29;
}

.nav-container ul {
  height: 100%;
  width: 440px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 27px;
  background-color: #00FF29;
}

.nav-container ul li {
  width: 50px;
  height: 30px;
  background-color: #DB00FF;
}

.login {
  height: 70px;
  min-width: 110px;
  background-color: #00FF29;
}

#section-one {
  height: 428px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
  background-color: rgba(0, 0, 255, 0.648);
}

#title {
  width: 445px;
  height: 68px;
  background-color: rgba(0, 106, 255, 0.648);
}

#paragraph {
  width: 660px;
  height: 76px;
  background-color: rgba(0, 106, 255, 0.648);
}

.button-container {
  width: 445px;
  height: 48px;
  display: flex;
  justify-content: center;
  gap: 16px;
  background-color: rgba(0, 106, 255, 0.648);
}

.button {
  width: 180px;
  height: 48px;
  background-color: rgba(0, 191, 255, 0.851);
}

#section-two {
  height: 669px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
  background-color: rgba(0, 136, 255, 0.648);
}

#section-two-text  {
  width: 352px;
  height: 372px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  background-color: rgba(0, 242, 255, 0.628);
}

#section-two-text h1 {
  width: 352px;
  height: 243px;
  background-color: rgba(12, 196, 119, 0.628);
}

#section-two-text p {
  width: 352px;
  height: 105px;
  background-color: rgba(12, 196, 119, 0.628);
}

#section-two-img {
  width: 496px;
  height: 344px;
  background-color: rgba(0, 242, 255, 0.628);
}

#section-three {
  height: 669px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  background-color: rgba(0, 255, 38, 0.648);
}

#section-three-text {
  width: 362px;
  height: 241px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 27px;
  background-color: rgba(183, 249, 0, 0.648);
}

#section-three-text h1 {
  width: 362px;
  height: 93px;
  background-color: rgba(249, 207, 0, 0.648);
}

#section-three-text p {
  width: 362px;
  height: 106px;
  background-color: rgba(249, 207, 0, 0.648);
}

#section-three-img {
  width: 544px;
  height: 344px;
  background-color: rgba(183, 249, 0, 0.648);
}

#section-four {
  height: 669px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  background-color: rgba(255, 238, 0, 0.648);
}

#section-four-img {
  width: 510px;
  height: 362px;
  background-color: rgba(249, 216, 0, 0.648);
}

#section-four-text {
  width: 344px;
  height: 253px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 21px;
  background-color: rgba(249, 207, 0, 0.648);
}

#section-four-text h1 {
  width: 344px;
  height: 96px;
  background-color: rgba(249, 91, 0, 0.648);
}

#section-four-text p {
  width: 344px;
  height: 137px;
  background-color: rgba(249, 91, 0, 0.648);
}

#section-five {
  height: 1147px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 21px;
  background-color: rgba(255, 102, 0, 0.648);
}

#section-five-text {
  width: 1011px;
  height: 202px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 23px;
  background-color: rgba(255, 42, 0, 0.648);
}

#section-five-text h1 {
  width: 1011px;
  height: 84px;
  background-color: rgba(249, 241, 0, 0.648);
}

#section-five-text p {
  width: 1011px;
  height: 95px;
  background-color: rgba(249, 241, 0, 0.648);
}

#section-five-img {
  width: 1011px;
  height: 494px;
  background-color: rgba(255, 42, 0, 0.648);
}

#section-five-subtitle {
  margin-top: 71px;
  width: 1011px;
  height: 107px;
  background-color: rgba(255, 42, 0, 0.648);
}

#footer {
  height: 548px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: rgba(0, 38, 255, 0.574);
}

#footer-menu {
  width: 1046px;
  height: 366px;
  display: flex;
  justify-content: space-between;
  gap: 67px;
  background-color: rgba(0, 195, 255, 0.574);
}

#footer-endbar {
  width: 1046px;
  height: 68px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 195, 255, 0.574);
}

#community {
  width: 214px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 255, 187, 0.574);
}

#community h1 {
  width: 214px;
  height: 75px;
  background-color: rgba(68, 255, 0, 0.574);
}

#community #social {
  width: 214px;
  height: 75px;
  background-color: rgba(68, 255, 0, 0.574);
}

.footer-link {
  width: 110px;
  height: 366px;
  background-color: rgba(0, 255, 187, 0.574);
}


.link-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.link-list li {
  height: 15px;
  background-color: rgba(68, 255, 0, 0.574);
}